@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

root {
    font-family: Skranji, Arial, Helvetica, sans-serif;
    font-family: Anton, Arial, Helvetica, sans-serif;
}

#background{
    height: 725px;
    background-color: black;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
body{
    background-color: #7FBEEB;
    max-width: 1600px;
    margin: 0 auto;
    font-family: Anton, Arial, Helvetica, sans-serif;;
    font-size: 22px;
    padding: 0;
}
header{
    background-color: #7FBEEB;
    font-family: Skranji, Arial, Helvetica, sans-serif;
}
nav a:hover{
    background-color: #75DDDD;
    color: black;
}
nav a{
    background-color: #7FBEEB;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
.Home-title{
    background-color: #7FBEEB;
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    background-color: #7FBEEB;
    text-align: center;
}
.book, .join{
    background-color: #ADD8E6;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: antiquewhite;
}


footer{
    background-color: #1282A2;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p{
    font-size: 1.2em;
}
footer a{
    color: black;
    text-align: center;
    text-decoration: none;
}
footer a:hover{
    color: black;
}
footer p a:hover{
    text-decoration: underline;
}

.logo{
    width: 80px;
    position: relative;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
    text-align: center;
}

h1{
    text-align: center;
}
.button-box{
    text-align: center;
    color: white;
}
main section{
    text-align: center;
}
#msg p{
    background-color: #1282A2;
    font-size: .8em;
}
.msg{
    background-color: #1282A2;
    line-height: 1.5em;
    padding: 35px;
}
.msg p{
    padding-bottom: 15px;
    font-size: .8em;
    color: black;
}
.join{
    background-color: #ADD8E6;
}
h2{
    margin: 0;
}
#logo_link{
    scroll-padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
}

.rivers-card{
    margin: 200px 0;
}
.camping-card{
    margin: 200px 0;
}
.rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #d9c2a3;
}
main section img{
    box-sizing:border-box;
}
.mountains{
    margin: 100px 0;
}